# .streamlit/secrets.toml
# Copy these to the Streamlit Cloud dashboard under 'Secrets'

DB_HOST     = "your-remote-db-host"
DB_USER     = "your-username"
DB_PASSWORD = "your-password"
DB_NAME     = "PortfolioSim1"
